<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.fashion">

    <!--ネットワーク接続の許可を追加-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- カメラの使用を許可 -->
    <user-permission android:name="android.permission.CAMERA"></user-permission>
    <user-feature android:name="android.hardware.camera2"></user-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- showFashion画面を登録-->
        <activity
            android:name=".ShowFashion"
            android:label="@string/drawer_show_fashion"
            android:screenOrientation="landscape">
        </activity>
        <!-- pastFashion画面を登録　-->
        <activity
            android:name=".PastFashion"
            android:label="@string/drawer_past_fashion"
            android:screenOrientation="landscape">
        </activity>
        <!-- 設定画面を追加-->
        <activity
            android:name=".SettingPrefActivity"
            android:label="設定"
            android:screenOrientation="landscape">
        </activity>
        <!-- main設定画面を追加-->
        <activity
            android:name=".SettingPrefActivityMain"
            android:label="設定"
            android:screenOrientation="landscape">
        </activity>

        <!--meta情報を追加-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>